.calculator-key {
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    border-radius: 50%;
    font-size: 1.5em;
    margin: 5px;
    border: none;
    outline: none;
  }